@import "settings/__settings";
@import "util/__util";
@import "components/__components";
@import "pages/__pages";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-default;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: rgb(202,231,243);
  background: radial-gradient(circle, rgba(202,231,243,1) 0%, rgba(69,72,143,1) 100%);
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  padding: 2em 0;
}

iframe {
  margin: 0 2%;
  margin-bottom: 2%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}